body {
  background-color: #c0c0c0;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

p {
  margin: 0;
}

.wave {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

dt {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
}

dd {
  display: none;
  background-color: aqua;
  margin: 0;
  padding: 20px;
}

.open {
  width: 20px;
  height: 20px;
  background-image: url(./img/icon-p.png);
  background-size: contain;
}

.close {
  width: 20px;
  height: 20px;
  background-image: url(./img/icon-m.png);
  background-size: contain;
}

